<!--partials/userbox.js-->
<div class="user-box">
    <% if (logged_in) { %>
        <p><%= username %></p>
        <a class="signout" href="/signout">Sign out</a>
    <% } else { %>
        <p>Not logged in.</p>
        <p><a href="/signup">Make an account</a></p>
        <p><a href="/login">Log in to an existing account</a></p>
    <% } %>
</div>