<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../icons/favicon.ico">

    <!--CSS-->
    <link rel='stylesheet' href='../css/style.css'>

    <!--JS stuff-->
    <script src="../libs/p5/p5.min.js"></script>
    <script src="../libs/p5/p5.dom.min.js"></script>
    <script src="../libs/p5/p5.sound.min.js"></script>
    <script src="../js/game.js"></script>

    <title>Conquer Galaxy</title>
  </head>
  <body>
    <section class='header'>
      <h1>Team Game Project</h1>
    </section>
    <div class='nav-menu'>
      <a href='/home'>Home</a>
      <a href='/game'>Game</a>
    </div>

    <section class='footer'>
      <p><a href='https://github.com/ollydevulder' target='_blank'>Olly</a><a href='https://github.com/physi3' target='_blank'>Joe</a></p>
    </section>
  </body>
</html>
