<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

    <!--JS stuff-->
    <script src="../libs/p5/p5.min.js"></script>
    <script src="../libs/p5/p5.dom.min.js"></script>
    <script src="../libs/p5/p5.sound.min.js"></script>
    <script src="../js/game.js"></script>
  </head>
  <body>
    <% include ../partials/header %>
    <% include ../partials/navbar %>
    <% include ../partials/footer %>
  </body>
</html>
