<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <% include ../partials/header %>
      <% include ../partials/navbar %>

      <section class='content'>
         <h1>What is this?</h1>
         <p>This is a website created by two "great" programmers.
             It is simply a way for us to relieve our bordem and learn about what it means to work in a team (terribly).</p>
         <h2>What about the code?</h2>
         <p>Everything that is written will be put on GitHub. You can visit the repo <a href='https://github.com/physi3/Team-Game-Project' target='_blank'>here!</a> Feel free to suggest changes or point out bugs!</p>
      </section>
      <% include ../partials/footer %>
   </body>
</html>
