<!DOCTYPE html>
<html>
   <head>
      <title>Team Project</title>
      <meta http-equiv = "refresh" content = "2; url = ./game/" />
   </head>
   <body>
      <p>Redirecting...</p>
   </body>
</html>